@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: #232931;
    --sedondary-color: #F73859;
    --serif: 'Lora';
    --sans: 'Open Sans';
}

* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

button {
    background-color: var(--sedondary-color);
    color: white;
    border: 0;
    font-family: var(--serif);
    padding: 0.5rem 1rem;
}

#main {

    align-items: center;
}

header {
    color: white;
    font-family: var(--serif);
    font-size: 16px;
    align-self: stretch;
}

ul {
    list-style-type: none;
}

#ul-pad {
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.border-box {
    box-sizing: border-box;
}

.hover-bg-change:hover {
    background-color: grey;
}

#a-logo {
    padding: 0.5rem;
    text-align: left;
    margin-left: 2rem;
    flex-grow: 10;
    font-size: 18px;
}

#a-contact-us{
    padding: 0.5rem;
    flex-grow: 1;
    text-align: center;
}

#a-shop {
    padding: 0.5rem;
    flex-grow: 1;
    text-align: center;
    margin-right: 1rem;
}

#hero {
    background-color: #232931;
    margin: 2rem;
    color: white;
    box-sizing: border-box;
    padding: 2rem 5rem;
    font-family: var(--serif);
    max-width: 90rem;
    justify-content: space-between;
    align-items: center;
}

#hero-left {
    /* flex-grow: 1; */
    align-items: flex-start;
    /* width: 2m; */
    padding: 1rem 0rem;
    max-width: 30rem;
}

#hero-left h1 {
    /* padding: 0.5rem 0rem 0rem 0rem; */
    font-size: 3rem;
}

#hero-left p {
    padding: 0.5rem 0rem 1rem 0rem;
    font-size: 2rem;
}

/* #hero-right { */
    /* looks like if i disable flex-grow, hero-right is pushed to right  */
    /* flex-grow: 1;  */
    /* justify-content: flex-end; */
    /* width: max(30rem);
    max-width: 30rem; */
/* } */

#hero-right img {
    width: 35rem;
}

#quality {
    max-width: 79em;
    justify-content: space-between;
    /* margin: 2rem; */
    /* box-sizing: border-box; */
    width: 100vw;
}

.card {
    box-sizing: border-box;
    width: 20rem;
    height: 25rem;
    border: 0.5rem solid var(--primary-color);
    margin: 2rem 2rem;
}

.card img {
    width: 19rem;
    height: 15rem;
    object-fit: cover;
}
/* 
#first, #third {
    margin: 2rem 0rem;
}

#second {
    
} */