@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: #232931;
    --serif: 'Lora';
    --sans: 'Open Sans';
}

* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

header {
    color: white;
    font-family: var(--serif);
    font-size: 16px;
}

ul {
    list-style-type: none;
}

#ul-pad {
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: white;
}

.border-box {
    box-sizing: border-box;
}

.hover-bg-change:hover {
    background-color: grey;
}

#a-logo {
    padding: 0.5em;
    text-align: left;
    margin-left: 2em;
    flex-grow: 10;
}

#a-contact-us{
    padding: 0.5em;
    flex-grow: 1;
    text-align: center;
}

#a-shop {
    padding: 0.5em;
    flex-grow: 1;
    text-align: center;
    margin-right: 1em;
}

#hero {
    background-color: #232931;
    margin: 2em;
    color: white;
    box-sizing: border-box;
    padding: 2em;
}

#hero-left {
    flex-grow: 1;
    justify-content: center;
}

#hero-right {
    flex-grow: 1;
    justify-content: center;
}

#hero-right img {
    width: 20em;
}